*{
  margin: 0;
  padding: 0;
}
/*body*/
.menu{
  padding-top: 50px;
}
/*header*/
.headerColor{
  background: rgb(77, 77, 77);  
  color:#fff;  
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.68);
  -moz-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.68);
  box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.68);
}



/*****************footer*******************/
.footer{
  /*background: #f2f2f2;*/
  background: rgb(77, 77, 77);  
  -webkit-box-shadow: 0px -3px 10px -1px rgba(0,0,0,0.68);
  -moz-box-shadow: 0px -3px 10px -1px rgba(0,0,0,0.68);
  box-shadow: 0px -3px 10px -1px rgba(0,0,0,0.68);
}


section div{
  margin-top: 10px;
  text-align: center;
}
.link{
  color:#fff;
  display: block;
  padding-top: 8px;
  padding-left: 60px;
  font-size: 30px;
  text-decoration: none;
}
div .twitter {
   width: 58px;
   height: 58px;
   background: transparent url("../img/redes.png");
   background-position: 0px 0px;
   text-decoration: none;
   /*float: left;*/
}
div .facebook {
  width: 58px;
  height: 58px;
  background: transparent url("../img/redes.png");
  background-position: -58px 0px;
  /*float: left;*/
}
div .google {
  width: 58px;
  height: 58px;
  background: transparent url("../img/redes.png");
  background-position: -116px 0px;
  /*float: left;*/
}
div .youtube {
  clear: both;
  width: 58px;
  height: 58px;
  background: transparent url("../img/redes.png");
  background-position: -290px 0px;
  /*float: left;*/
}
div .twitter:hover{
   background-position: 0px 58px;
   color: #00b8e6;
   text-decoration: none;
}
div .facebook:hover{
   background-position: -58px 58px;
   color:#004d99;
   text-decoration: none;
}
div .google:hover{
   background-position: -116px 58px;
   color: #cc0000;
   text-decoration: none;
}
div .youtube:hover{
   background-position: -290px 58px;
   color: #cc0000;
   text-decoration: none;
}
